In [16]:
def greeting(name):
    """This function greets the person passed in as a parameter"""
    print("hello, " + name + ".  Assalam alaikum")

In [ ]:
greeting("Ahsa")

hello, Ahsan.  Assalam alaikum

In [4]:
def mean_of_list(numbers):
    """This function return the mean of list of numbres"""
    print(sum(numbers)/len(numbers))

In [7]:
prices = [12,4,330,2240,456]
mean_of_list(prices)

608.4

lets add round max upto 2 after decimal

In [27]:
def mean_of_list(numbers):
    """This function returns the mean of list of numbers"""
    return round(sum(numbers)/len(numbers), 2)

In [28]:
prices = [10,20,2.4,40,50]
mean_of_list(prices)

24.48

add function

In [1]:
def add(a,b,c):
    """This function adds three numbers"""
    return a+b+c

In [2]:
add(12,13,14)

39

introduce function:

In [20]:
def introduce(name, age):
    """This function introduces a person"""
    print("My name is " + name + "i am " + str(age) + " year old ")

In [21]:
introduce("Ahsan", "23")

My name is Ahsani am 23 year old

Function without parameter

In [33]:
def say_hello(name= "Ali"):
    """This function just prints hello"""
    print("Hello " + name + " from rome buiness school")

In [34]:
say_hello()

Hello Ali from rome buiness school

In [1]:
def say_hello():
    """The function just prints hello"""
    print("hello from rome buissness school")

In [2]:
say_hello()

hello from rome buissness school